body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
  }
  .navbar-middle:hover,:focus{
    color: #3e85ff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
 }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar ul li:last-child {
    margin-right: 0;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .navbar a:hover {
    transform: perspective(100px) rotateX(10deg);
    border-color: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  .navbar a:hover,:focus{
    color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
  }
  
  .navbar h1 {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  